@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://chatgpt.com/share/672f6fcd-3ebc-8005-92b8-9b0fde6f82b2 */
/* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .user-menu.focusIn() - add .focused to it, remove it on .focusOut() */

:root {
    --max-height: 535px;
    --max-width: 800px;
    --header-height: 153px;
    --body-height: calc(var(--max-height));
    --sidebar-width: 30%;
    --content-bar-width: 70%;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: var(--max-width);
    max-width: var(--max-width);
    height: var(--max-height);
    max-height: var(--max-height);
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}

/*
body > header {
    }
    */

main>header {
    width: var(--max-width);
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding: 0;
}

main>header>article:first-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    background-color: #6bbee7;
    padding: 3px 8px;
    padding-right: 20px;
}

.banner,
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner {
    justify-content: flex-start;
    gap: 2em;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
}

.tagline-separator {
    height: 17px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.project-tagline {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.logo-caption {
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}



.user-menu {
    position: relative;
}

.user-menu .profile-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.user-menu .dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.user-menu .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu .dropdown ul li {
    padding: 10px;
}

.user-menu .dropdown ul li:hover {
    background-color: #f0f4f8;
}

/* .focused will be added with js click */
.user-menu.focused .dropdown {
    display: block;
}

main>section {
    display: flex;
    padding-top: calc(var(--header-height) - 8px);
    /* Push down for fixed header */
    height: var(--body-height);
    overflow: hidden;
}

/* Left sidebar */
main>section>.sidebar {
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Right content */
main>section>article.content {
    width: var(--content-bar-width);
    display: flex;
    flex-direction: column;
}

/* Fixed header and footer */
.sidebar>header,
.sidebar>footer,
.content>header,
.content>footer {
    flex-shrink: 0;
}

.sidebar>header {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Scrollable middle sections */
.content>section {
    overflow-y: auto;
    padding: 15px;
    flex-grow: 1;
    padding-top: 0px;
    padding-left: 0;
}

/* TODO: REMOVE */
.sidebar>section>ul,
.content>section>.block {
    margin-bottom: 15px;
}

/* TODO: REMOVE */
.content>section>.block {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 15px;
    height: 150px;
}

.sidebar>section {
    overflow-y: auto;
    padding: 15px;
    flex-grow: 1;
    padding-top: 0;
    /* flex-direction: column; */
    /* display: flex; */
    /* gap: 10px; */
    /* justify-content: center; */
}

.sidebar>section>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar>section>ul>li {
    cursor: pointer;
    list-style: none;
    font-weight: 400;
    width: 100%;
    font-size: 14px;
}

.sidebar .category {
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
    margin-top: 4px;
    border-left: 4px solid transparent;
}

.sidebar .category.selected {
    background-image: linear-gradient(to right, rgba(59, 130, 246, 0.4), transparent);
    background-repeat: no-repeat;
    background-color: rgba(59, 130, 246, 0.1);
    border-left: 4px solid rgba(59, 130, 246, 0.4);
}

.sidebar .category.highlighted {
    border-left: 4px solid rgba(59, 130, 246, 0.4);
    background-color: rgba(15, 98, 126, 0.1);
}

.sidebar .tag.highlighted {
    background-color: rgba(15, 98, 126, 0.1);
}

.sidebar>section>ul>li>span {
    text-align: left;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sidebar>header select {
    padding: 7px 16px; /* Expand padding:7px 10px to four values below */
    padding-right: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6'%3E%3Cpath fill='%23aaa' d='M0 0h10L5 6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    outline: none;
}

.sidebar>header select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-100%);
    pointer-events: none;
}

.sidebar>header>form {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: 15px;
}


/* FORM STYLING */
.form-container {
    padding-left: 7px;
}

.form-input-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
}


main>header form {
    display: flex;
    flex-wrap: wrap;
}

main>header form>div {
    flex-grow: 1;
    flex-basis: 28%;
    max-width: 33%;
    padding: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1;
}


main>header form>div:last-of-type {
    margin-left: auto;
    flex-grow: 0;
    flex-basis: 100%;
    max-width: none;
    padding: unset;
    text-align: right;
    margin-top: -1.2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 12px;
}

main>header form input {
    padding: 7px 11px;
    width: 100%;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #6bbee7;
    font-weight: bold;
}

main>header form span {
    background-color: rgba(15, 98, 126, 0.1);
    outline: none;
    color: rgba(17, 34, 51, 0.27);
    cursor: default;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 7px 11px;
    display: block;
}


main>header form button {
    padding: 10px 20px;
    background-color: #6bbee7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 2em;
    margin-bottom: 10px;
}

main>header form button:not(:disabled):hover {
    background-color: #1C86EE;
    transform: scale(1.05);
}

main>header form button:disabled {
    cursor: not-allowed;
    /* pointer-events:none; */
    transform: scale(1);
    opacity: 0.5;
}

main>header form label.off-cursor {
    cursor: not-allowed;
}
main>header form input.grouping-on[type="text"] {
    cursor: default;
}
main>header form input:disabled {
    cursor: not-allowed;
    /* pointer-events:none; */
    transform: scale(1);
    opacity: 1;
}

.form-control h2 {
    margin: 0;
    margin-bottom: 20px;
}

label,
.div-as-label {
    display: block;
}

.form-control input::placeholder {
    color: rgba(255, 255, 255, 0.8)
}

.form-control input:active,
.form-control input:focus {
    outline: none;
}

.add-buttons {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: auto;
}

.add-buttons button:hover {
    background-color: #3b7dbf;
}

.add_categoriesBtn,
.add_tagBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;

}

/* Categories side starts */
/* Container styles */
.container {
    position: relative;
    width: 200px;
}

/* Select styles */
.container select {
    width: 100%;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath fill='%23333' d='M0 0h10L5 6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.fat-text_ {
    -webkit-text-stroke: .23px #888;
    color: #888;
}


.fat-text{
    color: #777; /* Base text color */
    text-shadow:
        0.35px 0 0.5px #777,  /* Right, slightly blurred */
        -0.35px 0 0.5px #777, /* Left, slightly blurred */
        0 0.35px 0.5px #777,  /* Bottom, slightly blurred */
        0 -0.35px 0.5px #777; /* Top, slightly blurred */
}
