<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <!-- <script src="../js/app.js" type="module"></script> -->

    <title>Bookmark Manager</title>
</head>
<body>
<header>
<h1>Bookmark Manager</h1>
</header>
<main>
    <aside class="sidebar">
        <header>Sidebar Header</header>
        <section>
            <ul>
                <li><span>Career Paths</span></li>
                <li><span>Programming</span></li>
                <li><span>Frontend World</span></li>
                <li><span>Backend</span></li>
                <li><span>Human World</span></li>
                <li><span>Career Paths</span></li>
                <li><span>Programming</span></li>
                <li><span>Frontend World</span></li>
                <li><span>Backend</span></li>
                <li><span>Human World</span></li>
            </ul>
        </section>
        <footer>Sidebar Footer</footer>
    </aside>
    <section class="content-bar">
        <header>Content Header</header>
        <section>Content Section</section>
        <footer>Content Footer</footer>
    </section>
</main>
</body>
</html>
