mdx.tsx
.env
*.env
*.env.*
env
__pycache__

test.py
ch.py
t.py
AirBnB_clone_v4
.DS_Store
default
config
logging
*.test
test*
temp*
*.temp
tmp*
*.tmp
extension/templates/_index_.html
extension/css/_style_.css

extension/css/_style_2.css

*_old*
node_modules
src/components/SideBar/filter/ByCategories_2.tsx
ByCategories_2.tsx
dist
