[Unit]
Description=Gunicorn instance to serve BMM
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/apps/BMM
Environment=PATH=/home/ubuntu/apps/BMM/bin
EnvironmentFile=/home/ubuntu/apps/BMM/.env
ExecStart=/home/ubuntu/apps/BMM/bin/start.sh

[Install]
WantedBy=multi-user.target

