<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/app.js" type="module"></script>
    <title>Bookmark Manager</title>
</head>
<body>

  <!-- Header -->
  <header>Main Header</header>

  <main>

    <aside class="sidebar">
      <header>
        <div class="select-wrapper">
        <select id="category-dropdown" class="select">
            <option value="categories" class="current">Categories</option>
            <option value="filter-tags">Filter:Tags</option>
            <option value="filter-category-tags">Filter:Category/Tags</option>
        </select>
        </div>
      </header>
      <section class="filtered-list">
        <ul>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        <li><span>Career Paths</span></li>
        <li><span>Programming</span></li>
        <li><span>Frontend World</span></li>
        <li><span>Backend</span></li>
        <li><span>Human World</span></li>
        </ul>
      </section>
      <footer>Sidebar Footer</footer>
    </aside>

    <section class="content">
      <header>Content Header</header>
      <section>
        <div class="block">Content Block 1</div>
        <div class="block">Content Block 2</div>
        <div class="block">Content Block 3</div>
        <div class="block">Content Block 4</div>
      </section>
      <footer>Content Footer</footer>
    </section>

  </main>

</body>
</html>
