<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet"
        href="../css/index.css">
    <script src="../js/app.js"
        type="module"></script>
    <title>Bookmark Manager</title>
</head>

<body>
    <header>
        <article>
            <section class="banner">
                <figure class="logo-container">
                    <img src="../img/logo.png"
                        alt="Logo"
                        class="logo">
                </figure>
                <h1 class="logo-caption">BOOKMARK MANAGER</h1>
                <figure class="tagline-separator"> </figure>
                <h2 class="project-tagline">BOOKMARK MANAGER</h2>
            </section>
            <section class="profile">
                <figure class="user-menu">
                    <div class="profile-icon"></div>
                    <section class="dropdown">
                        <ul>
                            <li class="a">Profile</li>
                            <li class="a">Settings</li>
                            <li class="a">Logout</li>
                        </ul>
                    </section>
                </figure>
            </section>
        </article>
        <article class="form-container">
            <form>
                <div class="form-control">
                    <label for="url">URL</label>
                    <input type="text"
                        id="url"
                        placeholder="">
                </div>
                <div class="form-control">
                    <label for="title">TITLE</label>
                    <input type="text"
                        id="title"
                        placeholder="">
                </div>
                <div class="form-control">
                    <label for="category">CATEGORY</label>
                    <div class="select wrapper"><span>DEFAULT</span></div>
                </div>

                <!-- <div class="form-control">
        				<label for="tags">TAGS</label>
                        <div class="tags-container"></div>
                        <select id="tags-dropdown">
        					<option value="default">Select Tags</option>
                        </select>
                    </div>  -->
                <div class="form-control">
                    <button type="button">Create</button>
                </div>
            </form>
        </article>
    </header>

    <main>
        <article class="sidebar">
            <header>
                <section>
                    <select aria-label="Filter Options">
                        <option value="categories"
                            class="current">Categories</option>
                        <option value="filter-tags">Filter:Tags</option>
                        <option value="filter-category-tags">Filter:Category/Tags</option>
                    </select>
                </section>
            </header>
            <section class="filtered-list">
                <ul>
                    <li><span>1. Career Paths</span></li>
                    <li><span>2. Programming</span></li>
                    <li><span>3. Frontend World</span></li>
                    <li><span>4. Backend</span></li>
                    <li><span>5. Human World</span></li>
                    <li><span>6. Career Paths</span></li>
                    <li><span>7. Programming</span></li>
                    <li><span>8. Frontend World</span></li>
                    <li><span>9. Backend</span></li>
                    <li><span>10. Human World</span></li>
                    <li><span>11. Career Paths</span></li>
                    <li><span>12. Programming</span></li>
                    <li><span>13. Frontend World</span></li>
                    <li><span>14. Backend</span></li>
                    <li><span>15. Human World</span></li>
                    <li><span>16. Career Paths</span></li>
                    <li><span>17. Programming</span></li>
                    <li><span>18. Frontend World</span></li>
                    <li><span>19. Backend</span></li>
                    <li><span>20. Human World</span></li>
                    <li><span>21. Career Paths</span></li>
                    <li><span>22. Programming</span></li>
                    <li><span>23. Frontend World</span></li>
                    <li><span>24. Backend</span></li>
                    <li><span>25. Human World</span></li>
                    <li><span>26. Career Paths</span></li>
                    <li><span>27. Programming</span></li>
                    <li><span>28. Frontend World</span></li>
                    <li><span>29. Backend</span></li>
                    <li><span>30. Human World</span></li>
                </ul>
            </section>
            <footer>Sidebar Footer</footer>
        </article>

        <article class="content">
            <header>Content Header</header>
            <section>
                <div class="block">Content Block 1</div>
                <div class="block">Content Block 2</div>
                <div class="block">Content Block 3</div>
                <div class="block">Content Block 4</div>
                <div class="block">Content Block 1</div>
                <div class="block">Content Block 2</div>
                <div class="block">Content Block 3</div>
                <div class="block">Content Block 4</div>
                <div class="block">Content Block 1</div>
                <div class="block">Content Block 2</div>
                <div class="block">Content Block 3</div>
                <div class="block">Content Block 4</div>
                <div class="block">Content Block 1</div>
                <div class="block">Content Block 2</div>
                <div class="block">Content Block 3</div>
                <div class="block">Content Block 4</div>
            </section>
            <footer>Content Footer</footer>
        </article>

    </main>

</body>

</html>
